langchain
langchain-groq
langchain-community
langchain-huggingface
faiss-cpu
pypdf
sentence-transformers
streamlit




django
djangorestframework
markdown
django-filter
django-cors-headers


djangorestframework-simplejwt